.contact{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.name,.mail{
    font-size: large;
    font-weight: 500;
}
#name,#mail{
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    font-size: medium;
}
.btn{
    background-color:peru;
    border-radius: 5px;
    border-color: burlywood;
    padding: 5px;
    font-size: medium;
    font-weight: 300;
    margin: 1rem;
}
